


div#main-content-container div.block-children [level="3"] {
    border-right: 4px solid #ff00005c;
}

div#main-content-container div.block-children [level="4"] {
    border-right: 6px solid #ec87225e;
}

div#main-content-container div.block-children [level="5"] {
    border-right: 8px solid #ffff0052;
}

div#main-content-container div.block-children [level="6"] {
    border-right: 10px solid #65d95b7a;
}

div#main-content-container div.block-children [level="7"] {
    border-right: 12px solid #2ca0df5e;
}

div#main-content-container div.block-children [level="8"] {
    border-right: 14px solid #9f8af061;
}

div#main-content-container div.block-children [level="9"] {
    border-right: 16px solid #f15bf74f;
}




    /* #caution */
    main div#main-content-container a.tag[data-ref="caution"] {
        color: inherit;
        padding: 2px;
        border-radius: 3px;
        background: rgba(248, 180, 0, 0.7);
    }
    
    main div#main-content-container div[data-refs-self='["caution"]'] {
        padding: 0.8em;
        border-radius: 20px;
        background: rgba(248, 180, 0, 0.1);
        outline: 3px solid rgba(248, 180, 0, 0.8);
        outline-offset: 3px;
    }
    
    main div#main-content-container div[data-refs-self='["caution"]']::before {
        content: "游리";
        font-size: 20px;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    
    div.dark-theme main div#main-content-container a.tag[data-ref="caution"] {
        background: rgba(255, 248, 220, 0.3);
    }
    
    div.dark-theme main div#main-content-container div[data-refs-self='["caution"]'] {
        background: rgba(255, 248, 220, 0.1);
        outline: 3px solid rgba(255, 248, 220, 0.7);
    }
    
    /* end #caution */
    
    /* #success */
    main div#main-content-container a.tag[data-ref="success"] {
        color: inherit;
        padding: 2px;
        border-radius: 3px;
        background: rgba(42, 178, 123, 0.6);
    }
    
    main div#main-content-container div[data-refs-self='["success"]'] {
        padding: 0.8em;
        border-radius: 20px;
        background: rgba(42, 178, 123, 0.1);
        outline: 3px solid rgba(42, 178, 123, 0.7);
        outline-offset: 3px;
    }
    
    main div#main-content-container div[data-refs-self='["success"]']::before {
        content: "游릭";
        font-size: 20px;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    
    /* end #success */
    
    /* #warning */
    main div#main-content-container a.tag[data-ref="warning"] {
        color: inherit;
        padding: 2px;
        border-radius: 3px;
        background: rgba(255, 127, 80, 0.7);
    }
    
    main div#main-content-container div[data-refs-self='["warning"]'] {
        padding: 0.8em;
        border-radius: 20px;
        background: rgba(255, 127, 80, 0.1);
        outline: 3px solid rgba(255, 127, 80, 0.7);
        outline-offset: 3px;
    }
    
    main div#main-content-container div[data-refs-self='["warning"]']::before {
        content: "游";
        font-size: 20px;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    
    /* end #warning */
    
    
    /* #failed */
    main div#main-content-container a.tag[data-ref="failed"] {
        color: inherit;
        padding: 2px;
        border-radius: 3px;
        background: rgba(220, 20, 60, 0.5);
    }
    
    main div#main-content-container div[data-refs-self='["failed"]'] {
        padding: 0.8em;
        border-radius: 20px;
        background: rgba(220, 20, 60, 0.1);
        outline: 3px solid rgba(220, 20, 60, 0.7);
        outline-offset: 3px;
    }
    
    main div#main-content-container div[data-refs-self='["failed"]']::before {
        content: "游댮";
        font-size: 20px;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    
    /* end #failed */
    
    /* #QUESTION */
    main div#main-content-container a.tag[data-ref="question"] {
        color: inherit;
        padding: 2px;
        border-radius: 3px;
        background: rgba(147, 112, 219, 0.5);
    }
    
    main div#main-content-container div[data-refs-self='["question"]'] {
        padding: 0.8em;
        border-radius: 20px;
        background: rgba(147, 112, 219, 0.1);
        outline: 3px solid rgba(147, 112, 219, 0.7);
        outline-offset: 3px;
    }
    
    main div#main-content-container div[data-refs-self='["question"]']::before {
        content: "游릮";
        font-size: 20px;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    
    /* end #failed */
    
    
    /* #REPORT */
    main div#main-content-container a.tag[data-ref="report"],
    main div#main-content-container a.tag[data-ref="note"],
    main div#main-content-container a.tag[data-ref="review"] {
        color: inherit;
        padding: 2px;
        border-radius: 3px;
        background: rgba(160, 82, 45, 0.5);
    }
    
    main div#main-content-container div[data-refs-self='["report"]'],
    main div#main-content-container div[data-refs-self='["note"]'],
    main div#main-content-container div[data-refs-self='["review"]'] {
        padding: 0.8em;
        border-radius: 20px;
        background: rgba(160, 82, 45, 0.1);
        outline: 3px solid rgba(160, 82, 45, 0.7);
        outline-offset: 3px;
    }
    
    main div#main-content-container div[data-refs-self='["report"]']::before,
    main div#main-content-container div[data-refs-self='["note"]']::before,
    main div#main-content-container div[data-refs-self='["review"]']::before {
        content: "游릯";
        font-size: 20px;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    
    /* end #REPORT */
    
    /* #NOTICE #NOTE #memo */
    main div#main-content-container a.tag[data-ref="notice"],
    main div#main-content-container a.tag[data-ref="info"],
    main div#main-content-container a.tag[data-ref="memo"] {
        color: inherit;
        padding: 2px;
        border-radius: 3px;
        background: rgba(30, 144, 255, 0.5);
    }
    
    main div#main-content-container div[data-refs-self='["notice"]'],
    main div#main-content-container div[data-refs-self='["info"]'],
    main div#main-content-container div[data-refs-self='["memo"]'] {
        padding: 0.8em;
        border-radius: 20px;
        background: rgba(30, 144, 255, 0.1);
        outline: 3px solid rgba(30, 144, 255, 0.7);
        outline-offset: 3px;
    }
    
    main div#main-content-container div[data-refs-self='["notice"]']::before,
    main div#main-content-container div[data-refs-self='["info"]']::before,
    main div#main-content-container div[data-refs-self='["memo"]']::before {
        content: "游댯";
        font-size: 20px;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    
    /* end #NOTICE #NOTE #memo */
    
    /*
    游댮FAILED
    游WARNING
    游리CAUTION
    游릭SUCCESS
    游댯NOTICE / INFO / memo
    游릮QUESTION
    游릯REPORT / NOTE / REVIEW
    */

